<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> navbar}}   <!-- This includes your navbar partial -->
  
  {{{body}}}     <!-- Your page content -->
</body>
</html>